{% extends "base.html" %}
{% block page_header %}

    <div class="jumbotron">
        <h1 class="display-3">Track your learning.</h1>
        <P>Make your own learning blog, and keep a list of topics you're learning about. Whenever you learn something new about a topic, make an entry summarizing what you've learned.</P>
        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
    </div>
{% if messages %}
<div class="container">
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock page_header %}