{% extends "base.html" %}
{% block page_header %}

    <div class="jumbotron">
        <h1 class="display-3">Track your learning.</h1>
        <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad blanditiis odio neque illo autem, accusamus eos alias earum nostrum nisi nulla harum, quae iste reiciendis quo sed animi impedit facilis quos iure molestiae odit dolorem explicabo? Veritatis quisquam dolor aut maiores ea cumque saepe iusto delectus, impedit, consequuntur, suscipit quos incidunt! Animi quos quidem dicta accusamus, ut in rem illum iusto mollitia porro dolore provident quas enim, repudiandae officiis eos magni sequi possimus? Amet, animi temporibus. In corporis dolorem molestiae harum nisi sapiente corrupti rerum eaque. Unde quisquam maiores id esse quo repellat velit, nisi fugiat numquam eaque cupiditate nostrum!</P>
        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
    </div>
{% if messages %}
<div class="container">
    {% for message in messages %}
    <div class="alert alert-info alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock page_header %}